<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dfa5cba82f.js" crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="CSS/asieAfriqueAmeriques.css">
    <link rel="stylesheet" href="CSS/destination.css">
    <link rel="stylesheet" href="CSS/footer.css">
    <title>Les Ameriques</title>
</head>

<body>
    <div class="block1-image-bandeau">


        <nav>
            <img src="../images/logo-Emmy.png" class="logo">


            <ul class="menuderoulant">
                <li class="surTelephone"><a href="/card">Accueil</a></li>
                <li class="surTelephone"><a href="/destination">Destination</a>
                    <ul class="sousmenu">
                        <li><a href="/Afrique">Afrique</a></li>
                        <li><a href="">Amérique du nord </a></li>
                        <li><a href="">Amérique du sud</a></li>
                        <li><a href="">Asie </a></li>
                        <li><a href="">Europe</a></li>
                        <li><a href="">Océanie</a></li>
                    </ul>
                </li>
                <li class="surTelephone"><a href="nosConsei.html">Mes videos</a></li>
                <li class="surTelephone"><a href="/index">Contact</a></li>
        </nav>
        <video autoplay loop muted plays-inline class="background-clip">
            <source src="/VIDEOS/amerique.mp4" type="video/mp4">
        </video>
        <div class="elements">
            <h1>Bienvenue en Amerique</h1>
            <a href="#" id="liens">Regarder maintenant !</a>
        </div>
    </div>

    <div class="filtre-geographique">

        <div class="filtres">
            <a href="#" class="filtre-option active"> Vidéos populaires</a>
            <a href="#" class="filtre-option">Canada</a>
            <a href="#" class="filtre-option">USA</a>
            <a href="#" class="filtre-option">Mexique</a>
            <a href="#" class="filtre-option">Amerique latine</a>
            <a href="#" class="filtre-option">Iles</a>
        </div>

        <h1 class="recom"> Vidéo populaires</h1>

        <div class="video-populaires">

            <div class="container">

                <div class="allvideo" data-views="1000000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/New york.png" alt="photo New york">
                            <div class="texte-sur-image"> 1.M vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2>Bienvenue à New York</h2>
                            <a href="#">loulou</a>

                        </div>

                    </div>
                    </a>
                </div>


                <div class="allvideo" data-views="3000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/peru.png" alt="peru">
                            <div class="texte-sur-image"> 3.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">

                        </div>
                        <div class="title">
                            <h2>Ma nouvelle vie au Peru</h2>
                            <a href="#">Shasha</a>

                        </div>
                    </div>
                    </a>
                </div>

                <div class="allvideo" data-views="6000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/new york 2.png" alt="nyc">
                            <div class="texte-sur-image"> 6.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> Meilleur ville du monde </h2>
                            <a href="#">lilly </a>

                        </div>
                    </div>
                    </a>
                </div>



                <div class="allvideo" data-views="6000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/new york 2.png" alt="nyc">
                            <div class="texte-sur-image"> 6.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> Meilleur ville du monde </h2>
                            <a href="#">lilly </a>

                        </div>
                    </div>
                    </a>
                </div>


                <div class="allvideo" data-views="6000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/new york 2.png" alt="nyc">
                            <div class="texte-sur-image"> 6.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> Meilleur ville du monde </h2>
                            <a href="#">lilly </a>

                        </div>
                    </div>
                    </a>
                </div>


                <div class="allvideo" data-views="10000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/los angeles 2.png" alt="LA">
                            <div class="texte-sur-image"> 10.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="imahe user">
                        </div>
                        <div class="title">
                            <h2> Je réalise mon rêve</h2>
                            <a href="#">kevkev</a>

                        </div>
                    </div>
                    </a>
                </div>

                <div class="allvideo" data-views="6000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/lav vegas.png" alt="las vegas">

                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                            <div class="texte-sur-image"> 6.K vues </div>
                        </div>
                        <div class="title">
                            <h2> Mon trip sur la côte ouest</h2>
                            <a href="#">Shani</a>

                        </div>
                    </div>
                    </a>
                </div>


                <div class="allvideo" data-views="2000000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/hollywod.png" alt="photo">
                            <div class="texte-sur-image"> 2. M vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2>Story time: ma rencontre avec Brat P**t </h2>
                            <a href="#">Louou</a>

                        </div>
                    </div>
                    </a>
                </div>


                <div class="allvideo" data-views="1000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/brazil 2.png" alt="photo brazil">
                            <div class="texte-sur-image"> 1.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> Bienvenue à Rio </h2>
                            <a href="#"> Paolo</a>

                        </div>
                    </div>
                    </a>
                </div>

                <div class="allvideo" data-views="2000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/canada 1.png" alt="canada">
                            <div class="texte-sur-image"> 2.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> BOn matin </h2>
                            <a href="#">Lucas</a>

                        </div>
                    </div>
                    </a>
                </div>

                <div class="allvideo" data-views="5000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/canada 3.png" alt="photo canada">
                            <div class="texte-sur-image"> 5.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> Canada immersion </h2>
                            <a href="#">Shany</a>

                        </div>
                    </div>
                    </a>
                </div>

                <div class="allvideo" data-views="22000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/canada2.png" alt="photo">
                            <div class="texte-sur-image"> 22.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> Je quitte tout pour m'installler... </h2>
                            <a href="#">Shanivan 77</a>

                        </div>
                    </div>
                    </a>
                </div>

            </div>

        </div>

        <div class="section_milieu">
            <p>L'Amerique avec Vibes Voyage</p>
        </div>

        <div class="section_fin">
            <h1 class="recom">Suggestions Pour Vous</h1>
            <div class="container">

                <div class="allvideo" data-views="2000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/canada 1.png" alt="canada">
                            <div class="texte-sur-image"> 2.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> BOn matin </h2>
                            <a href="#">Lucas</a>
    
                        </div>
                    </div>
                    </a>
                </div>
            
                <div class="allvideo" data-views="2000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/canada 1.png" alt="canada">
                            <div class="texte-sur-image"> 2.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> BOn matin </h2>
                            <a href="#">Lucas</a>
    
                        </div>
                    </div>
                    </a>
                </div>

                <div class="allvideo" data-views="2000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/canada 1.png" alt="canada">
                            <div class="texte-sur-image"> 2.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> BOn matin </h2>
                            <a href="#">Lucas</a>
    
                        </div>
                    </div>
                    </a>
                </div>

                <div class="allvideo" data-views="2000">
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/amerique/canada 1.png" alt="canada">
                            <div class="texte-sur-image"> 2.K vues </div>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2> BOn matin </h2>
                            <a href="#">Lucas</a>
    
                        </div>
                    </div>
                    </a>
                </div>
                
            </div>
        </div>


        <div class="logo-fin">
            <img src="/IMAGES/logo-vv-sans-cadre-bleue-orange.png" alt="Logo" class="logo-image">
        </div>


        <footer class="footer">
            <div class="containerfoter">
                <div class="row">
                    <div class="footer-col">
                        <h4>Vibes Voyage</h4>
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Nos service</a></li>
                            <li><a href="#">Politique</a></li>
                            <li><a href="#">Vibes</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Nos pages</h4>
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Destination</a></li>
                            <li><a href="#">Mes videos</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Vibes Voyage</h4>
                        <ul>
                            <li><a href="#">Afrique</a></li>
                            <li><a href="#">Afrique</a></li>
                            <li><a href="#">Afrique</a></li>
                            <li><a href="#">Afrique</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>