<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/asie afrique ameriques.css">
    <link rel="stylesheet" href="CSS/destination.css">
    <link rel="stylesheet" href="CSS/footer.css">
    <title>Asie</title>
</head>

<body>
    <div class="block1-image-bandeau">


        <nav>
            <img src="../images/logo-Emmy.png" class="logo">


            <ul class="menuderoulant">
                <li class="surTelephone"><a href="card.html">Accueil</a></li>
                <li class="surTelephone"><a href="destination.html">Destination</a>
                    <ul class="sousmenu">
                        <li><a href="Afrique.html">Afrique</a></li>
                        <li><a href="">Amérique du nord </a></li>
                        <li><a href="">Amérique du sud</a></li>
                        <li><a href="">Asie </a></li>
                        <li><a href="">Europe</a></li>
                        <li><a href="">Océanie</a></li>
                    </ul>
                </li>
                <li class="surTelephone"><a href="nosConsei.html">Mes videos</a></li>
                <li class="surTelephone"><a href="index.html">Contact</a></li>
        </nav>
        <video autoplay loop muted plays-inline class="background-clip">
            <source src="/VIDEOS/japan-by-night.mp4" type="video/mp4">
        </video>
        <div class="elements">
            <h1>Bienvenue en Asie</h1>
            <a href="#" id="liens">Regarder maintenant !</a>
        </div>
    </div>

    <div class="filtre-geographique">

        <div class="filtres">
            <a href="#" class="filtre-option active"> Vidéos populaires</a>
            <a href="#" class="filtre-option">Asie du Nord</a>
            <a href="#" class="filtre-option">Asie de l' Ouest</a>
            <a href="#" class="filtre-option">Asie de l' Est</a>
            <a href="#" class="filtre-option">Asie du Sud</a>
            <a href="#" class="filtre-option">Asie du Sud Est</a>
            <a href="#" class="filtre-option">Asie Centrale</a>
        </div>

        <h1 class="recom"> Vidéo populaires</h1>

        <div class="video-populaires">

            <div class="allvideo" data-views="1000000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/Asie street food.png" alt="photo street food">
                        <div class="texte-sur-image"> 1.M vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                    </div>
                    <div class="title">
                        <h2>Les meilleurs marché street food de Séoul</h2>
                        <a href="#">Shanivan 77</a>

                    </div>

                </div>
                </a>
            </div>

            <div class="allvideo" data-views="3000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/malaisia.png" alt="malaisie">
                        <div class="texte-sur-image"> 3.K vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">

                    </div>
                    <div class="title">
                        <h2>Les meilleurs marché street food de Séoul</h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>


            <div class="allvideo" data-views="6000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/Chine.png" alt="photo chine">
                        <div class="texte-sur-image"> 6.K vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                    </div>
                    <div class="title">
                        <h2>Bienvenue en Chine </h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>


            <div class="allvideo" data-views="10000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/india.png" alt="photo inde">
                        <div class="texte-sur-image"> 10.K vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="imahe user">
                    </div>
                    <div class="title">
                        <h2> Entre tradition et modernité</h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>

            <div class="allvideo" data-views="6000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/dubai.png" alt="image">

                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        <div class="texte-sur-image"> 6.K vues </div>
                    </div>
                    <div class="title">
                        <h2> Mon expatriation à Dubai</h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>


            <div class="allvideo" data-views="2000000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/JAPAN1.png" alt="photo">
                        <div class="texte-sur-image"> 2. M vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                    </div>
                    <div class="title">
                        <h2>Au pays du matin calme</h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>


            <div class="allvideo" data-views="1000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/japan2.png" alt="photo japon">
                        <div class="texte-sur-image"> 1.K vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                    </div>
                    <div class="title">
                        <h2> Mon incroyable solotrip au Japon </h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>

            <div class="allvideo" data-views="2000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/srilanka.png" alt="photo srilanka">
                        <div class="texte-sur-image"> 2.K vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                    </div>
                    <div class="title">
                        <h2> Retour aux origines </h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>

            <div class="allvideo" data-views="5000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/korea3.png" alt="photo korea">
                        <div class="texte-sur-image"> 5.K vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                    </div>
                    <div class="title">
                        <h2> OPPA Gangname style </h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>

            <div class="allvideo" data-views="22000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/korea2.png" alt="photo korea">
                        <div class="texte-sur-image"> 22.K vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                    </div>
                    <div class="title">
                        <h2> Je quitte tout pour m'installler en Corée du Sud </h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>

            <div class="allvideo" data-views="3000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/malaisia.png" alt="malaisie">
                        <div class="texte-sur-image"> 3.K vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">

                    </div>
                    <div class="title">
                        <h2>Les meilleurs marché street food de Séoul</h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>

            <div class="allvideo" data-views="3000">
                <div class="thumbnail">
                    <a href="MesVideos.html" target="_blank">
                        <img src="/IMAGES/malaisia.png" alt="malaisie">
                        <div class="texte-sur-image"> 3.K vues </div>
                </div>
                <div class="details">
                    <div class="photo-user">
                        <img src="/IMAGES/profil-photo-homme .png" alt="photo user">

                    </div>
                    <div class="title">
                        <h2>Les meilleurs marché street food de Séoul</h2>
                        <a href="#">Shanivan 77</a>

                    </div>
                </div>
                </a>
            </div>

        </div>

        <div class="section_milieu">
            <p>L'Asie avec Vibes Voyage</p>
        </div>

        <div class="section_fin">
            <h1 class="recom">Suggestions Pour Vous</h1>
            <div class="container">

                <div class="allvideo"> <!--data-views="3000"> -->
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/malaisia.png" alt="malaisie">
                            <div class="texte-sur-image">3K vues</div>
                        </a>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2>Les meilleurs marchés street food de Séoul</h2>
                            <a href="#">Shanivan 77</a>
                        </div>
                    </div>
                </div>

                <div class="allvideo"> <!-- data-views="3000"> -->
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/malaisia.png" alt="malaisie">
                            <div class="texte-sur-image">3K vues</div>
                        </a>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2>Les meilleurs marchés street food de Séoul</h2>
                            <a href="#">Shanivan 77</a>
                        </div>
                    </div>
                </div>

                <div class="allvideo"> <!-- data-views="3000"> -->
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/malaisia.png" alt="malaisie">
                            <div class="texte-sur-image">3K vues</div>
                        </a>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2>Les meilleurs marchés street food de Séoul</h2>
                            <a href="#">Shanivan 77</a>
                        </div>
                    </div>
                </div>

                <div class="allvideo">  <!-- data-views="3000"> -->
                    <div class="thumbnail">
                        <a href="MesVideos.html" target="_blank">
                            <img src="/IMAGES/malaisia.png" alt="malaisie">
                            <div class="texte-sur-image">3K vues</div>
                        </a>
                    </div>
                    <div class="details">
                        <div class="photo-user">
                            <img src="/IMAGES/profil-photo-homme .png" alt="photo user">
                        </div>
                        <div class="title">
                            <h2>Les meilleurs marchés street food de Séoul</h2>
                            <a href="#">Shanivan 77</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="logo-fin">
            <img src="/IMAGES/logo-vv-sans-cadre-bleue-orange.png" alt="Logo" class="logo-image">
        </div>


        <footer class="footer">
            <div class="containerfoter">
                <div class="row">
                    <div class="footer-col">
                        <h4>Vibes Voyage</h4>
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Nos service</a></li>
                            <li><a href="#">Politique</a></li>
                            <li><a href="#">Vibes</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Nos pages</h4>
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Destination</a></li>
                            <li><a href="#">Mes videos</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Vibes Voyage</h4>
                        <ul>
                            <li><a href="#">Afrique</a></li>
                            <li><a href="#">Afrique</a></li>
                            <li><a href="#">Afrique</a></li>
                            <li><a href="#">Afrique</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>



</body>

</html>