<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component Footer</title>
</head>

<body>
  <footer class="footer">
    <div class="containerfoter">
      <div class="row">
        <div class="footer-col">
          <h4>Vibes Voyage</h4>
          <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Nos services</a></li>
            <li><a href="#">Politique</a></li>
            <li><a href="#">Vibes</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Nos pages</h4>
          <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Destination</a></li>
            <li><a href="#">Mes videos</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Vibes Voyage</h4>
          <ul>
            <li><a href="#">Afrique</a></li>
            <li><a href="#">Amérique</a></li>
            <li><a href="#">Asie</a></li>
            <li><a href="#">Europe</a></li>
            <li><a href="#">Océanie</a></li>

          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>