<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/lesFormulaireAdmin.css">
  <title>Ajouter un Administrateur</title>
</head>
<body>

  <div class="login-box">
    <div class="login-header">
      <header>Ajouter un Administrateur</header>
    </div>
   

    
    <form th:action="@{/utilisateurs}" th:object="${form}" method="post">
      <div class="form-container">
      <div class="input-box">
        <input type="text" class="input-field"
               th:field="*{login}" placeholder="Pseudo" autocomplete="off" required>
      </div>

      <div class="input-box">
        <input type="email" class="input-field"
               th:field="*{email}" placeholder="Email" autocomplete="off" required>
      </div>

      <div class="input-box">
        <input type="password" class="input-field"
               th:field="*{motDePasse}" placeholder="Mot de passe" autocomplete="off" required>
      </div>

    
     
      <div class="input-submit">
        <button class="submit-btn" id="submit" type="submit">Ajouter</button>
      </div>
    </form>
    </div>
    <p th:if="${succMsg}" th:text="${succMsg}" style="color:#3aa655;margin:8px 0;"></p>
    <p th:if="${errorMsg}" th:text="${errorMsg}" style="color:#ff8b8b;margin:8px 0;"></p>

    <a href="/Admin" id="homeTableauBord">Revenir tableau de bord</a>
  </div>

</body>
</html>
