<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/lesFormulaireAdmin.css">
    <title>Document</title>
</head>
<body>
    <body>
        <div class="login-box">
            <div class="login-header">
                <header>Ajouter un Administateur</header>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Nom complet" autocomplete="off" required>
            </div>
            <div class="input-box">
                <input type="email" class="input-field" placeholder="email" autocomplete="off" required>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Password" autocomplete="off" required>
            </div>
            <div class="input-submit">
                <button class="submit-btn" id="submit"></button>
                <label for="submit">Ajouter</label>


            </div>
          
        <a href="Admin.html" id="homeTableauBord">Revenir tableau de bord</a>
        </div> 

</body>
</html>