<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="CSS/lesFormulaireAdmin.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire categorie</title>
  </head>
  <body>
    <div class="login-box">
      <div class="login-header">
        <header>Ajouter une categorie</header>
        <th:block th:if="${succMsg}">
          <p class="alertVert">[[${succMsg}]]</p>
        </th:block>

        <th:block th:if="${errorMsg}">
          <p id="alertRouge">[[${errorMsg}]]</p>
        </th:block>
      </div>
     <form th:action="@{/saveCategorie}" method="post">
        <div class="input-box">
          <input
            type="text"
            name="nomCategorie"
            class="input-field"
            placeholder="Nom de la categorie"
            autocomplete="off"
            required
          />
        </div>


        <div class="input-submit">
          <button class="submit-btn" id="submit"></button>
          <label for="submit">Ajouter une categorie</label>
        </div>
      </form>
      <a href="/Admin" id="homeTableauBord">Revenir tableau de bord</a>
    </div>
    <div class="tableau">
      <h1>Toutes les categories</h1>

      
<div>
  <table class="rwd-table">
    <thead>
      <tr>
        <th>Nom des catégorie</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cat, c : ${categories}">
        <td th:text="${cat.nomCategorie}"></td>
        <td class="lienBlanc">
          <a th:href="@{'/loadEditCategorie/'+${cat.id}}">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>

          <form th:action="@{|/admin/categories/${cat.id}/delete|}" method="post" style="display:inline">
            <button type="submit" onclick="return confirm('Supprimer cette catégorie ?')">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>


      
  </body>
</html>
