<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component Header</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <img src="../static/IMAGES/logo_fond_blanc.png" alt="logo_vibes_voyages" class="logo_vibes_voyages" />
      <ul>
        <li><a href="index.html">Accueil</a></li>
        <li>
          <a href="destination.html">Destination</a>
          <ul class="dropdown">
            <li><a href="africa.html">Afrique</a></li>
            <li><a href="europe.html">Europe</a></li>
            <li><a href="asia.html">Asie</a></li>
            <li>
              <a href="america.html">Amérique</a>
            </li>
            <li><a href="oceania.html">Océanie</a></li>
          </ul>
        </li>
        <li><a href="tableau_bords.html">Tableau de bords</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <!-- Script -->
  <script src="../static/JS/loadHeaderFooter.js"></script>
</body>

</html>