<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Vidéo</title>
    <link rel="stylesheet" href="CSS/pageVideos.css" />
    <script src="https://kit.fontawesome.com/dfa5cba82f.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navigation -->
    
    <!-- Main Content -->
    <main class="containerVideoafrique">
        <!-- Main Video Section -->

        <!-- Zone pour afficher la vidéo -->
        <video id="video-player" controls>
            <source id="video-source" src="" type="video/mp4">
            Votre navigateur ne supporte pas le lecteur vidéo.
        </video>

        <!-- Lien pour retourner à la liste -->
        <a href="#" onclick="history.back(); return false;">Retour</a>


        <!-- Add more videos as needed -->
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="containerfoter">
            <!-- Footer Columns -->
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="JS/pageVideos.js"></script>
</body>

</html>